extends layout
block content
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src="/javascripts/key.js")
  h1= title
  p#pid Press any key on the keyboard
  p#pid1 
  
  //form(name="f1", action="/patu", method="GET")
    //button(type="submit") Click me
